@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
 background-image: url(https://thumbs.dreamstime.com/b/c%C3%A9u-azul-nuvens-vermelhas-cor-de-rosa-fundo-sol-nascente-paisagem-por-p%C3%B4r-do-horizonte-planeta-c%C3%B3smico-fantasia-amanhecer-no-220138939.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.card {
    background-color: #FFFFFF80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000040;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(197, 99, 189);
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid rgb(197, 99, 189) ;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus {
    border-bottom: 2px solid rgb(153, 110, 149);
}

.label-float label {
    color: rgb(197, 99, 189) ;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label {
    font-size: 13px;
    margin-top: 0;
    color: rgb(153, 110, 149);
}

button {
    background-color: transparent;
    border-color:rgb(197, 99, 189) ;
    color: rgb(197, 99, 189);
    padding: 7px 25px;
    font-weight: bold;
    font-size: 12px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .3s ease-out;
}

button:hover {
    background-color: rgb(197, 99, 189) ;
    color: #FFF;
}

.justify-center {
    display: flex;
    justify-content: center;
}

hr {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}

p {
    color: rgb(197, 99, 189) ;
    font-size: 14px;
    text-align: center;
}

a {
    font-weight: bold;
    text-decoration: none;
}

.fa-eye {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: rgb(197, 99, 189) ;
}